* {
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}

.Content {
  max-width: 1200px;
  margin: auto;
  border: 1px solid black;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between;
}

.controlBarWrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-self: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar > * {
  margin: auto 10px;
}

.userDetail {
  display: flex;
  flex-direction: row;
}

.containerWrapper {
  min-width: 1280px;
  margin: auto auto;
  border: 1px solid black;
}

.groupsWrapper {
  display: flex;
  justify-content: space-around;
}

/*mobile style*/
@media (max-width: 600px) {
  .App {
    background-color: grey;
  }
}
