* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  min-width: 1280px;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
}

.Content {
  margin: auto;
  border: 1px solid black;
}

.headerWrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-between;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.navBar > * {
  margin: auto 10px;
}

.userDetail {
  display: flex;
  flex-direction: row;
}

.songWrapper {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}

.searchForm {
  display: flex;
  flex-direction: column;
}

.searchResult {
  align-self: center;
  margin: 20px auto;
}

.containerWrapper {
  min-width: 1280px;
  margin: auto auto;
}

.groupsWrapper {
  display: flex;
  justify-content: space-around;
}

.bigclass {
  font-size: 30px;
}

.libig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.groupsClass {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
}

.groupsClass .groupitem {
  flex: 1;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left16 {
  margin-left: 16px;
}

.container-fluid.banner {
  text-align: center;
}

.livestreamcalsss {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
}

#log {
  max-height: 200px;
  overflow-y: auto;
}

.ant-form-item-label > label {
  font-size: 16px !important;
}
.divsize {
  font-size: 18px;
  margin-bottom: 10px;
}
/*mobile style*/
@media (max-width: 600px) {
  .App {
    background-color: grey;
  }
}
