/__pycache__
/app/__pycache__
/app/templates
/venv

.idea/
../API_KEYS.py
.ebignore
.elasticbeanstalk/
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.ebextensions/*
